.toolbar {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
}

.content {
    position: fixed;
    width: 100%;
    top: 48px;
    bottom: 48px;
    left: 0;
    right: 0;
}

.form {
    display: contents;
}

.MuiTableFooter-root {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.Component-horizontalScrollContainer-30 {
    position: fixed !important;
    top: 100px;
    bottom: 50px;
    width: 100% !important;
}